.odd-field {
  border-color: #FFD7C1 ;
  background-color: #FFD7C1;
}
.even-field {
  border-color: #E59982;
  background-color: #E59982;
}
.item-number {
  font-weight: bold;
  color: #072083;
}
li button {
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  border-color: #072083;
  background: #072083;
}
li button:hover {
  border-color: #F85B1A;
  background: #F85B1A;
}
